body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
}
.container {
  max-width: 1440px;
}
.col h1 {
  font-family: "Big Shoulders Display", cursive;
}
#first-col {
  background-color: hsl(31, 77%, 52%);
}
#second-col {
  background-color: hsl(184, 100%, 22%);
}
#third-col {
  background-color: hsl(179, 100%, 13%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
